services:
  backend:
    build:
      context: ./packages/stakeirb-back
      dockerfile: Dockerfile
    ports:
      - "38471:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      JWT_TOKEN_KEY: ${JWT_TOKEN_KEY}
    networks:
      - stakeirb-network

  frontend:
    build:
      context: ./packages/stakeirb-front
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_SOCKET_URL: ${VITE_SOCKET_URL}
    ports:
      - "48572:80"
    networks:
      - stakeirb-network
    depends_on:
      - backend

networks:
  stakeirb-network:
    driver: bridge
